@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.journey_sec .main_wrapper {
  background: linear-gradient(90deg, #000000, #233F90);
  border-radius: 20px;
  padding: 50px 30px 90px;
  position: relative;
}
.journey_sec .main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/logo-vector-light.svg);
  transition: 0.5s ease;
}
.journey_sec .main_wrapper::before {
  background-repeat: no-repeat;
  background-position: -5% 100%;
  background-size: 275px;
}
.journey_sec .main_wrapper .heading {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 50px;
}
.journey_sec .main_wrapper .heading h2 {
  font-size: 36px;
  color: var(--white);
}
.journey_sec .main_wrapper .navigation_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
@media only screen and (max-width: 540px) {
  .journey_sec .main_wrapper .navigation_wrap {
    padding: 0 20px;
  }
}
.journey_sec .main_wrapper .about-journey-pagination {
  padding: 65px 0 50px;
  text-align: center;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  --spansize: 18px;
  --btnwidth: 40px;
  --btngap: 90px;
  --border: 1px;
}
.journey_sec .main_wrapper .about-journey-pagination::-webkit-scrollbar {
  width: 2px;
  background: none;
  height: 2px;
}
.journey_sec .main_wrapper .about-journey-pagination::-webkit-scrollbar-track {
  box-shadow: none;
}
.journey_sec .main_wrapper .about-journey-pagination::-webkit-scrollbar-thumb {
  background-color: #56c4dc;
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .journey_sec .main_wrapper .about-journey-pagination {
    --btngap: 80px;
  }
}
@media only screen and (max-width: 991px) {
  .journey_sec .main_wrapper .about-journey-pagination {
    --btngap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .journey_sec .main_wrapper .about-journey-pagination {
    padding: 40px 0 30px;
    --btngap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .journey_sec .main_wrapper .about-journey-pagination {
    padding: 40px 0 20px;
  }
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn {
  width: var(--btnwidth);
  text-align: center;
  position: relative;
  margin-top: calc(var(--spansize) / -2);
  z-index: 2;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #56C4DC;
  transition: 0.5s ease;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--white);
  transition: 0.5s ease;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn::before {
  left: calc(var(--btnwidth) / 2 + var(--spansize) / 2);
  right: auto;
  width: 0;
  height: var(--border);
  bottom: auto;
  top: calc(var(--spansize) / 2 - var(--border));
  transition: 0.6s ease;
  z-index: 1;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn::after {
  left: calc(var(--btnwidth) / 2 + var(--spansize) / 2);
  right: auto;
  width: calc(var(--btngap) + var(--btnwidth) - var(--spansize));
  height: var(--border);
  bottom: auto;
  top: calc(var(--spansize) / 2 - var(--border));
  transition: 0.6s ease;
  z-index: 0;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn span {
  display: inline-block;
  height: var(--spansize);
  width: var(--spansize);
  border-radius: 50%;
  border: 1px solid var(--white);
  background: var(--white);
  transition: 0.5s ease;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn p {
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.631372549);
  font-weight: 600;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .journey_sec .main_wrapper .about-journey-pagination .journey-btn p {
    font-size: 16px;
  }
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn.active span {
  background: #56C4DC;
  border-color: #56C4DC;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn.active p {
  color: #56C4DC;
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn.prev span {
  border-color: var(--white);
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn.prev::before {
  width: calc(var(--btngap) + var(--btnwidth) - var(--spansize));
}
.journey_sec .main_wrapper .about-journey-pagination .journey-btn:not(:last-child) {
  margin-right: var(--btngap);
}
.journey_sec .main_wrapper .about_journey_wrap {
  position: relative;
}
.journey_sec .main_wrapper .about_journey_wrap .journey-nav {
  width: 90%;
}
.journey_sec .main_wrapper .about_journey_wrap .journey-nav button svg {
  width: 25px;
  height: 25px;
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider {
  max-width: 900px;
}
@media only screen and (max-width: 991px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider {
    max-width: calc(100% - 40px);
  }
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year {
    gap: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year {
    gap: 30px;
    align-items: start;
  }
}
@media only screen and (max-width: 768px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figure {
  line-height: 0;
  flex: 1;
  border-radius: 10px;
}
@media only screen and (max-width: 1024px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figure {
    flex: 0 1 35%;
  }
}
@media only screen and (max-width: 991px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figure {
    flex: 0 1 40%;
  }
}
@media only screen and (max-width: 768px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figure {
    flex: 0 1 100%;
    width: 100%;
  }
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figure img {
  border-radius: 10px;
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption {
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption {
    max-width: 100%;
  }
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption .content {
  width: 100%;
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption .content h5 {
  font-size: 48px;
  margin-bottom: 15px;
  color: var(--white);
}
@media only screen and (max-width: 991px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption .content h5 {
    font-size: 36px;
  }
}
.journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption .content p {
  color: #F2F2F2;
}
@media only screen and (max-width: 540px) {
  .journey_sec .main_wrapper .about_journey_wrap .about_journey_slider .year figcaption .content p {
    font-size: 14px;
  }
}

.mission_sec {
  overflow-x: hidden;
  position: relative;
  position: relative;
  z-index: 0;
  z-index: 1;
}
.mission_sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/images/home/circular-vector.svg);
  transition: 0.5s ease;
}
.mission_sec::before {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  right: -20%;
  background-size: contain;
  z-index: -1;
}
.mission_sec::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lightprime);
  filter: blur(100px);
  border-radius: 50%;
}
.mission_sec::after {
  width: 150px;
  height: 150px;
  top: 30%;
  left: 0;
  transform: translate(0, -23%);
  z-index: -1;
}
.mission_sec .heading {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 630px;
}
.mission_sec .heading p {
  margin-top: 0;
  font-weight: 700;
  color: var(--black);
}
.mission_sec .mission_wrapper {
  --gap: 40px;
  gap: var(--gap);
}
.mission_sec .mission_wrapper .mission_col {
  flex: 1;
  padding: 30px 30px 50px;
  background: var(--white);
  border-radius: 15px;
}
.mission_sec .mission_wrapper .mission_col .upper_sec {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}
.mission_sec .mission_wrapper .mission_col .upper_sec .head {
  flex: 1;
}
.mission_sec .mission_wrapper .mission_col .upper_sec .head h3 {
  font-size: 16px;
  font-weight: 700;
  color: #19B5D7;
  margin-bottom: 20px;
}
.mission_sec .mission_wrapper .mission_col .upper_sec .head h6 {
  font-size: 24px;
  line-height: 1.2;
  max-width: 400px;
}
.mission_sec .mission_wrapper .mission_col .upper_sec .icon {
  flex: 0 1 65px;
  width: 65px;
  height: 65px;
}
.mission_sec .mission_wrapper .mission_col .upper_sec .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}

.team_sec.second_team .heading {
  max-width: 440px;
}
.team_sec .heading {
  text-align: center;
  max-width: 540px;
  margin: 0 auto 50px;
}
.team_sec .team_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 10px;
}/*# sourceMappingURL=about.css.map */