/* [project]/node_modules/swiper/swiper.css [app-client] (css) */
:root {
  --swiper-theme-color: #007aff;
}

:host {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.swiper {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
  display: block;
  position: relative;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide, .swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-css-mode > .swiper-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper:before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper:before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-slide-shadow-bottom {
  pointer-events: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-3d .swiper-slide-shadow {
  background: #00000026;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, #00000080, #0000);
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, #00000080, #0000);
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, #00000080, #0000);
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(#00000080, #0000);
}

.swiper-lazy-preloader {
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-top-color: #0000;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
  position: absolute;
  top: 50%;
  left: 50%;
}

:is(.swiper:not(.swiper-watch-progress), .swiper-watch-progress .swiper-slide-visible) .swiper-lazy-preloader {
  animation: 1s linear infinite swiper-preloader-spin;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* [project]/node_modules/swiper/modules/navigation.css [app-client] (css) */
:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-prev, .swiper-button-next {
  width: var(--swiper-navigation-size);
  height: var(--swiper-navigation-size);
  z-index: 10;
  cursor: pointer;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

:is(.swiper-button-prev, .swiper-button-next).swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

:is(.swiper-button-prev, .swiper-button-next).swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled :is(.swiper-button-prev, .swiper-button-next) {
  display: none !important;
}

:is(.swiper-button-prev, .swiper-button-next) svg {
  object-fit: contain;
  transform-origin: center;
  fill: currentColor;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.swiper-button-lock {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 4px);
  right: auto;
}

.swiper-button-prev .swiper-navigation-icon {
  transform: rotate(180deg);
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 4px);
  left: auto;
}

.swiper-horizontal .swiper-button-prev, .swiper-horizontal .swiper-button-next, .swiper-horizontal ~ .swiper-button-prev, .swiper-horizontal ~ .swiper-button-next {
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  margin-left: 0;
}

.swiper-horizontal .swiper-button-prev, .swiper-horizontal ~ .swiper-button-prev, .swiper-horizontal.swiper-rtl .swiper-button-next, .swiper-horizontal.swiper-rtl ~ .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 4px);
  right: auto;
}

.swiper-horizontal .swiper-button-next, .swiper-horizontal ~ .swiper-button-next, .swiper-horizontal.swiper-rtl .swiper-button-prev, .swiper-horizontal.swiper-rtl ~ .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 4px);
  left: auto;
}

:is(.swiper-horizontal .swiper-button-prev, .swiper-horizontal ~ .swiper-button-prev, .swiper-horizontal.swiper-rtl .swiper-button-next, .swiper-horizontal.swiper-rtl ~ .swiper-button-next) .swiper-navigation-icon {
  transform: rotate(180deg);
}

:is(.swiper-horizontal.swiper-rtl .swiper-button-prev, .swiper-horizontal.swiper-rtl ~ .swiper-button-prev) .swiper-navigation-icon {
  transform: rotate(0);
}

.swiper-vertical .swiper-button-prev, .swiper-vertical .swiper-button-next, .swiper-vertical ~ .swiper-button-prev, .swiper-vertical ~ .swiper-button-next {
  left: var(--swiper-navigation-top-offset, 50%);
  margin-left: calc(0px - (var(--swiper-navigation-size) / 2));
  margin-top: 0;
  right: auto;
}

.swiper-vertical .swiper-button-prev, .swiper-vertical ~ .swiper-button-prev {
  top: var(--swiper-navigation-sides-offset, 4px);
  bottom: auto;
}

:is(.swiper-vertical .swiper-button-prev, .swiper-vertical ~ .swiper-button-prev) .swiper-navigation-icon {
  transform: rotate(-90deg);
}

.swiper-vertical .swiper-button-next, .swiper-vertical ~ .swiper-button-next {
  bottom: var(--swiper-navigation-sides-offset, 4px);
  top: auto;
}

:is(.swiper-vertical .swiper-button-next, .swiper-vertical ~ .swiper-button-next) .swiper-navigation-icon {
  transform: rotate(90deg);
}

/* [project]/uploads/styles/swasth/swasth.css [app-client] (css) */
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.swasth-secA {
  z-index: 0;
  padding-top: 15rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
}

.swasth-secA:before {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: -1;
  inset: 0;
  background: url("/assets/images/home/circular-light-vector.svg") 100% 70% / 50% no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 4% 0% 0 0;
}

.swasth-secA:after {
  content: "";
  background-color: var(--lightprime);
  filter: blur(150px);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0%;
  right: 30%;
  transform: translate(30%);
}

.swasth-secA .main_wrapper {
  --gap: 40px;
  align-items: center;
  gap: var(--gap);
}

.swasth-secA .main_wrapper .colA {
  flex: 0 1 calc(50% - var(--gap));
  max-width: calc(50% - var(--gap));
  width: 100%;
}

.swasth-secA .main_wrapper .colA .heading h2 {
  font-size: 48px;
  line-height: 1.2;
}

.swasth-secA .main_wrapper .colA .heading h2 span {
  font-family: IvyPresto;
}

.swasth-secA .main_wrapper .colA .heading p {
  color: #565656;
  max-width: 525px;
  margin: 10px 0 25px;
  font-weight: 500;
}

.swasth-secA .main_wrapper .colB {
  flex: 1;
  width: 100%;
  max-width: 50%;
}

.swasth-secA .main_wrapper .colB figure {
  border-radius: 150px 15px 15px;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.swasth-secA .main_wrapper .colB figure img, .swasth-secA .main_wrapper .colB figure video {
  border-radius: 150px 15px 15px;
  min-height: 405px;
}

.swasth-secB .main_wrapper {
  --gap: 100px;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  z-index: 0;
  background: linear-gradient(90deg, #364c8d, #aebdec);
  border-radius: 20px;
  flex-wrap: wrap;
  padding: 50px 60px 90px;
  display: flex;
  position: relative;
}

.swasth-secB .main_wrapper:before {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: -1;
  background: url("/assets/logo-vector-light.svg") 70% 100% no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 0;
}

.swasth-secB .main_wrapper figcaption {
  flex: 1;
  width: 100%;
  max-width: 55%;
}

.swasth-secB .main_wrapper figcaption .heading h2 {
  color: var(--white);
  font-size: 48px;
}

.swasth-secB .main_wrapper figcaption .heading p {
  color: var(--white);
  max-width: 560px;
  margin: 20px 0 30px;
}

.swasth-secB .main_wrapper figure {
  flex: 0 30%;
  width: 100%;
  max-width: 30%;
}

@keyframes jiggle {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50px);
  }
}

.swasth-secB .main_wrapper figure .card {
  animation: 3s linear infinite jiggle;
}

.swasth-secC .heading {
  text-align: center;
  max-width: 670px;
  margin: 0 auto 50px;
}

.swasth-secC .financial_wrapper {
  padding: 100px 0 50px;
  position: relative;
  overflow: hidden;
}

.swasth-secC .financial_wrapper.active .card_wrapper figure {
  animation: 2s linear infinite wiggle;
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(2) {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(3) {
  top: 30%;
  right: 18%;
  transform: translate(18%, -30%);
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(4) {
  bottom: 25%;
  right: 16%;
  transform: translate(16%, 25%);
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(5) {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(6) {
  top: 30%;
  left: 18%;
  transform: translate(-18%, -30%);
}

.swasth-secC .financial_wrapper.active .finance_col:nth-child(7) {
  bottom: 25%;
  left: 16%;
  transform: translate(-16%, 25%);
}

.swasth-secC .financial_wrapper .card_wrapper {
  background: url("/assets/vector/circle_color_vector.svg") 50% / cover no-repeat;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
}

.swasth-secC .financial_wrapper .card_wrapper.active figure {
  transform: translateY(0)rotate(-13deg);
}

.swasth-secC .financial_wrapper .card_wrapper figure {
  width: 300px;
  transition: all 1s;
  transform: translateY(-100vh)rotate(-13deg);
}

.swasth-secC .financial_wrapper .finance_col {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  transition: all 1s;
  display: flex;
  position: absolute;
}

.swasth-secC .financial_wrapper .finance_col:nth-child(2) {
  top: 5%;
  left: -20%;
  transform: translate(-20%, -5%);
}

.swasth-secC .financial_wrapper .finance_col:nth-child(3) {
  top: 30%;
  right: -20%;
  transform: translate(18%, -30%);
}

.swasth-secC .financial_wrapper .finance_col:nth-child(4) {
  bottom: 25%;
  right: -20%;
  transform: translate(16%, 25%);
}

.swasth-secC .financial_wrapper .finance_col:nth-child(5) {
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.swasth-secC .financial_wrapper .finance_col:nth-child(6) {
  top: 30%;
  left: -20%;
  transform: translate(-18%, -30%);
}

.swasth-secC .financial_wrapper .finance_col:nth-child(7) {
  bottom: 25%;
  left: -20%;
  transform: translate(-16%, 25%);
}

.swasth-secC .financial_wrapper .finance_col .icon {
  flex: 0 40px;
  width: 40px;
  height: 40px;
}

.swasth-secC .financial_wrapper .finance_col p {
  color: var(--black);
  max-width: 180px;
  font-weight: 500;
  line-height: 1.2;
}

.swasth-secD .maternity_wrapper {
  z-index: 0;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
  min-height: 650px;
  position: relative;
}

.swasth-secD .maternity_wrapper:before {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
  background: linear-gradient(90deg, #000, #0000);
  border-radius: 20px;
  transition: all .5s;
  position: absolute;
  inset: 0;
}

@media only screen and (max-width: 1400px) {
  .swasth-secD .maternity_wrapper {
    height: 80vh;
  }
}

.swasth-secD .maternity_wrapper > video, .swasth-secD .maternity_wrapper > img {
  z-index: -1;
  border-radius: 20px;
  position: absolute;
  inset: 0;
}

.swasth-secD .maternity_wrapper .content {
  width: 100%;
  max-width: 60%;
  padding: 0 0 0 60px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.swasth-secD .maternity_wrapper .content .heading {
  max-width: 580px;
}

.swasth-secD .maternity_wrapper .content .heading h2, .swasth-secD .maternity_wrapper .content .heading p {
  color: var(--white);
}

.swasth-secD .maternity_wrapper .content .heading p {
  margin: 15px 0;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper h6 {
  color: var(--white);
  font-size: 24px;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap {
  margin: 25px 0;
  position: relative;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .swiper-nav {
  width: 114%;
  max-width: 114%;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .swiper-nav button img {
  filter: invert();
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col {
  background: #fff3;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 15px;
  display: flex;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .info {
  flex: 1;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .info h5, .swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .info p {
  color: #fffc;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .info h5 {
  margin-bottom: 5px;
  font-size: 18px;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .info p {
  font-size: 14px;
  line-height: 1.4;
}

.swasth-secD .maternity_wrapper .content .benefits_wrapper .benefits_slider_wrap .benefits_slider .maternity_col .count {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.swasth-secD .maternity_wrapper .logo_icon {
  width: 80px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.swasth-secE .container {
  background: url("/assets/logo-vector.svg") 98% 3% / 275px no-repeat;
}

.swasth-secE .heading {
  max-width: 670px;
}

.swasth-secE .locater_wrapper {
  position: relative;
}

.swasth-secE .locater_wrapper .loc_nav {
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 90px 0 30px;
  display: flex;
}

.swasth-secE .locater_wrapper .loc_nav .input_wrapper {
  flex-wrap: wrap;
  flex: 1;
  display: flex;
  position: relative;
}

.swasth-secE .locater_wrapper .loc_nav .input_wrapper .form-input {
  --height: 62px;
  flex: 1;
}

.swasth-secE .locater_wrapper .loc_nav .input_wrapper .loc_btn {
  --height: 40px;
  --padding: 10px;
  height: var(--height);
  padding: 0 var(--padding);
  color: #233f90;
  background: #d6dbe8;
  border-radius: 5px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: all .5s;
  display: inline-flex;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(1%, -50%);
}

.swasth-secE .locater_wrapper .loc_nav .input_wrapper .loc_btn:hover {
  background: var(--black);
  color: var(--white);
}

.swasth-secE .locater_wrapper .loc_nav .btn {
  --height: 62px;
  --padding: 40px;
  flex: 0 auto;
}

.swasth-secE .locater_wrapper .map_sec iframe {
  border: none;
  border-radius: 10px;
  box-shadow: 0 11px 56px 10px #11111a1a;
}

.swarth_corp_A .heading {
  text-align: center;
  max-width: 661px;
  margin: 0 auto 50px;
}

.swarth_corp_A .benefits_wrapper {
  padding: 100px 0 50px;
  position: relative;
  overflow: hidden;
}

.swarth_corp_A .benefits_wrapper.active .card_wrapper figure {
  animation: 2s linear infinite wiggle;
}

.swarth_corp_A .benefits_wrapper.active .benefits_col:nth-child(2) {
  top: 25%;
  right: 10%;
  transform: translate(10%, -25%)scale(1);
}

.swarth_corp_A .benefits_wrapper.active .benefits_col:nth-child(3) {
  bottom: 25%;
  right: 10%;
  transform: translate(10%, 25%)scale(1);
}

.swarth_corp_A .benefits_wrapper.active .benefits_col:nth-child(4) {
  top: 25%;
  left: 10%;
  transform: translate(-10%, -25%)scale(1);
}

.swarth_corp_A .benefits_wrapper.active .benefits_col:nth-child(5) {
  bottom: 25%;
  left: 10%;
  transform: translate(-10%, 25%)scale(1);
}

.swarth_corp_A .benefits_wrapper .card_wrapper {
  z-index: 2;
  background: linear-gradient(90deg, #a7e6fe, #64a6fc);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.swarth_corp_A .benefits_wrapper .card_wrapper.active figure {
  transform: translateY(0)rotate(-13deg);
}

.swarth_corp_A .benefits_wrapper .card_wrapper figure {
  width: 300px;
  transition: all 1s;
  transform: translateY(350px)rotate(-13deg);
}

.swarth_corp_A .benefits_wrapper .benefits_col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 1s;
  display: flex;
  position: absolute;
}

.swarth_corp_A .benefits_wrapper .benefits_col:nth-child(2) {
  top: 25%;
  right: 45%;
  transform: translate(10%, -25%)scale(.8);
}

.swarth_corp_A .benefits_wrapper .benefits_col:nth-child(3) {
  bottom: 25%;
  right: 45%;
  transform: translate(10%, 25%)scale(.8);
}

.swarth_corp_A .benefits_wrapper .benefits_col:nth-child(4) {
  top: 25%;
  left: 45%;
  transform: translate(-10%, -25%)scale(.8);
}

.swarth_corp_A .benefits_wrapper .benefits_col:nth-child(5) {
  bottom: 25%;
  left: 45%;
  transform: translate(-10%, 25%)scale(.8);
}

.swarth_corp_A .benefits_wrapper .benefits_col .icon {
  flex: 0 50px;
  width: 50px;
  height: 50px;
}

.swarth_corp_A .benefits_wrapper .benefits_col p {
  color: var(--black);
  text-align: center;
  max-width: 240px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

@keyframes wiggle {
  0%, 100% {
    transform: translateY(0)rotate(-13deg);
  }

  50% {
    transform: translateY(50px)rotate(-13deg);
  }
}

.amya_wellness_A .heading {
  text-align: center;
  max-width: 688px;
  margin: 0 auto 50px;
}

.amya_wellness_A .amya_wrapper {
  padding: 0 0 50px;
  position: relative;
  overflow: hidden;
}

.amya_wellness_A .amya_wrapper.active .amya_col:nth-child(2), .amya_wellness_A .amya_wrapper.active .amya_col:nth-child(3), .amya_wellness_A .amya_wrapper.active .amya_col:nth-child(4), .amya_wellness_A .amya_wrapper.active .amya_col:nth-child(5) {
  opacity: 1;
}

.amya_wellness_A .amya_wrapper .card_wrapper {
  border-bottom: 2px solid var(--text);
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 310px;
  margin: 0 auto;
  display: flex;
  position: relative;
  overflow: hidden;
}

.amya_wellness_A .amya_wrapper .card_wrapper.active figure {
  transform: translateY(0);
}

.amya_wellness_A .amya_wrapper .card_wrapper figure {
  transition: all 1s;
  transform: translateY(350px);
}

.amya_wellness_A .amya_wrapper .amya_col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 1s;
  display: flex;
  position: absolute;
}

.amya_wellness_A .amya_wrapper .amya_col:nth-child(2) {
  opacity: 0;
  top: 25%;
  right: 10%;
  transform: translate(10%, -25%);
}

.amya_wellness_A .amya_wrapper .amya_col:nth-child(3) {
  opacity: 0;
  bottom: 25%;
  right: 10%;
  transform: translate(10%, 25%);
}

.amya_wellness_A .amya_wrapper .amya_col:nth-child(4) {
  opacity: 0;
  top: 25%;
  left: 10%;
  transform: translate(-10%, -25%);
}

.amya_wellness_A .amya_wrapper .amya_col:nth-child(5) {
  opacity: 0;
  bottom: 25%;
  left: 10%;
  transform: translate(-10%, 25%);
}

.amya_wellness_A .amya_wrapper .amya_col .icon {
  flex: 0 50px;
  width: 50px;
  height: 50px;
}

.amya_wellness_A .amya_wrapper .amya_col p {
  color: var(--black);
  text-align: center;
  max-width: 240px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.value_add_sec .heading {
  text-align: center;
  max-width: 375px;
  margin: 0 auto 50px;
}

.value_add_sec .value_wrapper {
  position: relative;
}

.value_add_sec .value_wrapper .value_slider {
  max-width: 96%;
}

.value_add_sec .value_wrapper .value_col {
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all .5s;
}

.value_add_sec .value_wrapper .value_col .top_nav {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  display: flex;
}

.value_add_sec .value_wrapper .value_col .top_nav h6 {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.value_add_sec .value_wrapper .value_col .top_nav .count {
  flex: 0 auto;
}

.value_add_sec .value_wrapper .value_col .top_nav .count span {
  color: #686ff2;
  font-size: 32px;
  font-weight: 700;
}

.value_add_sec .value_wrapper .value_col .desc p {
  font-size: 14px;
  line-height: 1.4;
}

.value_add_sec .btn_wrap {
  justify-content: center;
  margin-top: 50px;
}

.operational_flow_sec {
  position: relative;
  overflow: hidden;
}

.operational_flow_sec:before {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  background: url("/assets/images/home/circular-vector.svg") 100% no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 0 -20% 0 0;
}

.operational_flow_sec .heading {
  text-align: center;
  max-width: 410px;
  margin: 0 auto 10px;
}

.operational_flow_sec .operational_wrapper {
  flex-wrap: wrap;
  display: flex;
  position: relative;
}

.operational_flow_sec .operational_wrapper .colA {
  flex: 0 50%;
  justify-content: center;
  align-items: end;
  width: 100%;
  max-width: 50%;
  display: flex;
}

.operational_flow_sec .operational_wrapper .colA .hand_wrapper {
  width: 330px;
  line-height: 0;
  position: relative;
}

.operational_flow_sec .operational_wrapper .colA .hand_wrapper .hand_slider {
  width: 200px;
  max-height: 120px;
  position: absolute;
  top: 20%;
  left: 41%;
  transform: translate(-45%, -20%);
}

.operational_flow_sec .operational_wrapper .colA .hand_wrapper .hand_slider .hand_col {
  text-align: center;
}

.operational_flow_sec .operational_wrapper .colA .hand_wrapper .hand_slider .hand_col .icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 10px;
}

.operational_flow_sec .operational_wrapper .colA .hand_wrapper .hand_slider .hand_col h6 {
  color: var(--text);
  max-width: 135px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.2;
}

.operational_flow_sec .operational_wrapper .colB {
  border-left: 2px solid var(--black);
  flex: 0 50%;
  width: 100%;
  max-width: 50%;
}

.operational_flow_sec .operational_wrapper .colB .flow_details {
  margin-left: -23px;
  padding: 50px 0;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col {
  flex-wrap: wrap;
  gap: 50px;
  display: flex;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col:not(:last-child) {
  margin-bottom: 30px;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col.active .circle .icon:after {
  transform: scaleY(0);
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col.active .flow_content {
  background: var(--white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px #0000001a;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col.active .flow_content:before {
  opacity: 1;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col.active .flow_content .desc {
  opacity: 1;
  -webkit-user-select: auto;
  user-select: auto;
  pointer-events: auto;
  max-height: 100%;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle {
  border: 1px solid var(--black);
  background: var(--white);
  cursor: pointer;
  border-radius: 50%;
  flex: 0 43px;
  width: 43px;
  height: 43px;
  transition: all .5s;
  position: relative;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle .icon {
  --bgcolor: var(--black);
  --size: 20px;
  --border: 2px;
  height: var(--size);
  width: var(--size);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle .icon:before, .operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle .icon:after {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  background: var(--bgcolor);
  transition: all .5s;
  position: absolute;
  inset: 0;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle .icon:before {
  top: calc(var(--size) / 2 - var(--border) / 2);
  height: var(--border);
  width: 100%;
  bottom: auto;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .circle .icon:after {
  left: calc(var(--size) / 2);
  width: var(--border);
  height: 100%;
  right: auto;
  translate: -50%;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .flow_content {
  --triangle: 18px;
  cursor: pointer;
  z-index: 0;
  flex: 1;
  max-width: 460px;
  transition: all .3s;
  position: relative;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .flow_content:before {
  content: "";
  width: var(--triangle);
  height: var(--triangle);
  background: var(--white);
  z-index: -1;
  opacity: 0;
  transition: all .3s;
  position: absolute;
  top: 20%;
  left: -2%;
  rotate: 45deg;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .flow_content h6 {
  margin-bottom: 10px;
  font-size: 20px;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .flow_content .desc {
  opacity: 0;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  max-height: 0;
  transition: all .3s;
}

.operational_flow_sec .operational_wrapper .colB .flow_details .flow_col .flow_content .desc p {
  line-height: 1.3;
}

.how_it_works.procal_hospital .how_wrapper .how_slider .how_col figcaption h3 {
  color: #686ff2;
}

.how_it_works .container-fluid {
  padding: 0;
}

.how_it_works .heading {
  text-align: center;
  max-width: 480px;
  margin: 0 auto 50px;
}

.how_it_works .heading p {
  color: var(--black);
}

.how_it_works .how_wrapper {
  position: relative;
}

.how_it_works .how_wrapper .how-nav {
  width: 72%;
  max-width: 72%;
}

.how_it_works .how_wrapper .how-nav button svg {
  width: 25px;
  height: 25px;
}

.how_it_works .how_wrapper .how_slider .swiper-slide {
  transition: all .5s;
}

.how_it_works .how_wrapper .how_slider .swiper-slide:not(.swiper-slide-active) {
  opacity: .3;
}

.how_it_works .how_wrapper .how_slider .how_col {
  background: var(--white);
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 30px 25px;
  display: flex;
}

.how_it_works .how_wrapper .how_slider .how_col figcaption, .how_it_works .how_wrapper .how_slider .how_col figure {
  flex: 1;
}

.how_it_works .how_wrapper .how_slider .how_col figure img {
  border-radius: 15px;
}

.how_it_works .how_wrapper .how_slider .how_col figcaption h3 {
  color: #19b5d7;
  font-size: 36px;
  line-height: 1.1;
}

.how_it_works .how_wrapper .how_slider .how_col figcaption p {
  margin: 10px 0 20px;
  line-height: 1.4;
}

/*# sourceMappingURL=_674b9155._.css.map*/