/* [project]/uploads/styles/career/career.css [app-client] (css) */
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.team_info_sec {
  position: relative;
}

.team_info_sec:before {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: -1;
  background: url("/assets/vector/left_vector.svg") 0 -50% no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 0;
}

.team_info_sec .container {
  position: relative;
}

.team_info_sec .container:after {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: .3;
  background: url("/assets/logo-vector.svg") 95% 0 / 300px no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 0;
}

.team_info_sec .heading {
  text-align: center;
  z-index: 0;
  max-width: 650px;
  margin: 0 auto 50px;
  position: relative;
}

.team_info_sec .heading:before {
  content: "";
  background-color: var(--lightprime);
  filter: blur(100px);
  z-index: -1;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

.team_info_sec .heading h2 {
  line-height: 1;
}

.team_info_sec .heading h2 span {
  display: block;
}

.team_info_sec .heading p {
  color: var(--black);
}

.team_info_sec .team_info_wrapper {
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  position: relative;
}

.team_info_sec .team_info_wrapper .team_info_col {
  background: var(--white);
  border-radius: 15px;
  padding: 20px 20px 30px;
}

.team_info_sec .team_info_wrapper .team_info_col .upper_sec {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  display: flex;
}

.team_info_sec .team_info_wrapper .team_info_col .upper_sec h2 {
  flex: 0 70%;
  width: 100%;
  font-size: 30px;
  line-height: 1.1;
}

.team_info_sec .team_info_wrapper .team_info_col .upper_sec .icon {
  flex: 0 75px;
  width: 75px;
  height: 75px;
}

.team_info_sec .team_info_wrapper .team_info_col .upper_sec .icon img {
  -o-object-fit: contain;
  object-fit: contain;
}

.team_info_sec .team_info_wrapper .team_info_col .desc {
  margin-top: 15px;
}

.life_org_sec {
  z-index: 0;
  position: relative;
}

.life_org_sec:before {
  content: "";
  background-color: var(--lightprime);
  filter: blur(100px);
  z-index: -1;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 5%;
}

.life_org_sec .heading {
  text-align: center;
  max-width: 571px;
  margin: 0 auto 50px;
}

.life_org_sec .heading h2 {
  line-height: 1;
}

.life_org_sec .heading h2 span {
  display: block;
}

.life_org_sec .heading p {
  margin-top: 15px;
}

.life_org_sec .life_wrapper {
  position: relative;
}

.life_org_sec .life_wrapper .life_slider .swiper-slide {
  transition: all 1s;
}

.life_org_sec .life_wrapper .life_slider .swiper-slide:not(.swiper-slide-active) {
  transform: scale(.8);
}

.life_org_sec .life_wrapper .life_slider .swiper-slide figure, .life_org_sec .life_wrapper .life_slider .swiper-slide figure img {
  border-radius: 20px;
}

.life_org_sec .life_wrapper .nav_wrapper {
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 50px auto 0;
  display: flex;
  position: relative;
}

.life_org_sec .life_wrapper .nav_wrapper .swiper-prev, .life_org_sec .life_wrapper .nav_wrapper .swiper-next {
  flex: 0 auto;
}

.life_org_sec .life_wrapper .nav_wrapper .progressbar {
  flex: 1;
  width: 360px;
  max-width: 360px;
  position: relative;
}

.life_org_sec .life_wrapper .nav_wrapper .swiper-pagination-progressbar {
  --swiper-pagination-color: #000;
  background: #c5c5c5;
}

.open_positions_sec {
  z-index: 0;
  position: relative;
}

.open_positions_sec:before {
  content: "";
  background-color: var(--lightprime);
  filter: blur(100px);
  z-index: -1;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.open_positions_sec .main_wrapper {
  background: linear-gradient(90deg, #000, #233f90);
  border-radius: 20px;
  padding: 40px 25px 60px;
  position: relative;
}

.open_positions_sec .main_wrapper:after {
  content: "";
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
  opacity: .25;
  background: url("/assets/logo-vector.svg") 95% 4% / 200px no-repeat;
  transition: all .5s;
  position: absolute;
  inset: 0;
}

.open_positions_sec .main_wrapper .heading p, .open_positions_sec .main_wrapper .heading h2 {
  color: var(--white);
}

.open_positions_sec .main_wrapper .heading p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.open_positions_sec .main_wrapper .open_wrapper {
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  display: grid;
}

.future_colleague_sec .future_wrapper {
  --gap: 50px;
  justify-content: space-between;
  gap: var(--gap);
  flex-wrap: wrap;
  display: flex;
}

.future_colleague_sec .future_wrapper .colA {
  flex-direction: column;
  flex: 0 30%;
  gap: 50px;
  width: 100%;
  max-width: 30%;
  display: flex;
}

.future_colleague_sec .future_wrapper .colA .heading h2 span {
  display: block;
}

.future_colleague_sec .future_wrapper .colA .career-nav button {
  background: #c5c5c5;
  border-radius: 5px;
}

.future_colleague_sec .future_wrapper .colA .details {
  margin-top: auto;
}

.future_colleague_sec .future_wrapper .colA .details h6 {
  font-size: 20px;
  font-weight: 700;
}

.future_colleague_sec .future_wrapper .colA .details a {
  color: var(--black);
  display: block;
}

.future_colleague_sec .future_wrapper .colA .details a:hover {
  transform: translateX(5px);
}

.future_colleague_sec .future_wrapper .colB {
  max-width: calc(70% - var(--gap));
  flex: 1;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col {
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .user_icon {
  width: 85px;
  height: 85px;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .user_icon img {
  border-radius: 50%;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .desc {
  margin: 20px 0 50px;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .desc p {
  color: var(--black);
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .details h6 {
  font-size: 22px;
  line-height: 1.2;
}

.future_colleague_sec .future_wrapper .colB .career_slider .future_col .details p {
  line-height: 1.2;
}

.positons_col {
  cursor: pointer;
  background: #f3f3f3;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  position: relative;
}

.positons_col:hover .check_pos {
  background: var(--black);
  color: var(--white);
}

.positons_col .pos_name {
  color: #070606;
  font-weight: 600;
}

.positons_col .pos_loc {
  color: #737373;
  margin-top: 50px;
  font-weight: 600;
}

.positons_col .check_pos {
  background: var(--white);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 30px;
  transition: all .5s;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*# sourceMappingURL=uploads_styles_career_career_css_bad6b30c._.single.css.map*/