@import '../_var'

.home-secA
    padding-top: 15rem
    padding-bottom: 10rem 
    overflow: hidden
    @include before()
    &::before
        background: url(/assets/images/home/circular-light-vector.svg) no-repeat
        inset: 4% 0% 0 0
        z-index: -1
        background-position: 100% 70%
        background-size: 50%
    background: url(/assets/images/home/hero_bg.svg)
    background-position: 0 100%
    background-repeat: repeat-x
    @include after-blur
    &::after
        top: 0%
        right: 30%
        transform: translate(30%, 0)
        filter: blur(150px)
        width: 250px
        height: 250px
    .main_wrapper
        --gap: 100px
        align-items: center
        gap: var(--gap)
        .colA
            flex: 0 1 calc( 50% - var(--gap) )
            max-width: calc( 50% - var(--gap) )
            width: 100%
            .heading
                h2
                    font-size: 64px
                    span
                        font-family: $IvyPresto
                p
                    max-width: 660px
        .colB
            flex: 1 
            max-width: 50%
            width: 100%  
            .animate_figure
                display: flex
                flex-wrap: wrap
                gap: 25px
                figure
                    flex: 0 1 176px
                    transition: .5s ease
                    img
                        border-radius: 250px
                    &:nth-child(1)
                        transform: translateY(0)
                        animation: figureDown 3s linear infinite
                    &:nth-child(2)
                        transform: translateY(80px)
                        animation: figureUp 3s linear infinite
                    &:nth-child(3)
                        transform: translateY(0)
                        animation: figureDown 3s linear infinite
                @keyframes figureDown
                    0%, 100%
                        transform: translateY(0)
                    50%
                        transform: translateY(80px)
                @keyframes figureUp
                    0%, 100%
                        transform: translateY(80px)
                    50%
                        transform: translateY(0)
                        
                        
                        

.home-secB 
    position: relative
    @include before-blur
    &::before
       background: var(--elementhover) 
       top: 0%
       left: 50%
       transform: translate(-50%, 0)
       width: 300px
       height: 300px
       filter: blur(200px)
    .heading
        text-align: center
        max-width: 670px
        margin: 0 auto
    .services_wrapper
        position: relative
        .tab-nav
            width: 100%
            max-width: 890px
            margin: 50px auto 60px
            display: flex
            align-items: center
            justify-content: center
            gap: 50px
            overflow-x: auto
            @include scrollbar($background: rgb(0 0 0 / .3), $color: #56C4DC)
            li
                display: flex
                align-items: center
                gap: 20px
                position: relative
                padding-bottom: 15px
                cursor: pointer
                &.active
                    .icon
                        border-color: var(--elementhover)
                        background:  var(--elementhover)
                        img
                            filter: brightness(0) invert(1)
                            opacity: 1
                    p
                        color: var(--elementhover)
                    &::before
                        width: 100%
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    bottom: 0
                    height: 3px
                    width: 0
                    background: var(--elementhover)
                    transition: .5s ease
                .icon  
                    flex: 0 1 60px 
                    width: 60px 
                    height: 60px 
                    border: 1px solid $text
                    border-radius: 50%
                    display: flex
                    align-items: center
                    justify-content: center
                    transition: .5s ease
                    svg, img
                        width: 50%
                        height: 50%
                        opacity: 0.5
                p
                    flex: 1
                    line-height: 1.2
                    font-weight: 600
                    color: hwb(0deg 0% 100% / 50%)
                    transition: .5s ease
        .tab-nav-content
            position: relative
            .tabs
                transition: all .5s ease
                &:not(.active)
                    transform: translateY(50px)
                .service_container
                    position: relative
                    .service_slider
                        max-width: 96%
                        .swiper-slide
                            height: auto

.home-secC
    position: relative
    --headingfont: 48px
    --headinglineheight: 1.2
    --totalline: 2
    --headingpaddingtop: 1.75rem
    --headingpaddingbottom: 5.75rem
    --headingheight: calc((var(--headingpaddingtop) + var(--headingpaddingbottom)) + (var(--headingfont) * var(--headinglineheight) * var(--totalline)))
    --bouncedistance: 50px
    overflow: hidden
    @media (max-width: 1400) and (max-height: 700) 
        --bouncedistance: 30px
    @include before(url(/assets/images/home/circular-vector.svg))
    &::before
        background-repeat: no-repeat
        background-position: 100% 50%
        right: -20%
    @include media(1400)
        --headingpaddingbottom: 3.75rem
        --headingpaddingtop: .75rem
    .container
        position: relative
        &::before
            content: ""
            position: absolute
            width: 200px
            height: 200px
            background: #56C4DC
            border-radius: 50%
            filter: blur(100px)
            bottom: 10%
            z-index: -1
    .heading
        max-width: 720px
        margin: 0 auto
        padding: var(--headingpaddingtop) 0 var(--headingpaddingbottom)
        height: var(--headingheight)
        text-align: center
        position: relative
        z-index: 1
    .sticky-sec
        min-height: calc(100vh - calc( var(--headingheight) + var(--headerheight) ))
        position: relative
        transition: 1s ease
        --item: 3
        --gap: 15px
        --colsize: 425px
        &::before, &::after
            content: ""
            width: 100%
            height: 100%
            background: url(/assets/images/home/home_building.svg) no-repeat
            position: absolute
            z-index: -1
            opacity: .25
        &::before
            background-position: 0 50%
        &::after
            background-position: 100% 50%
        &.all-active
            @include flex
            transition: .5s ease
            justify-content: space-between
            .sticky-wrap
                &.fake-col
                    display: none
                &:nth-child(2)
                    .cards_outer_col
                        animation: card_bounce 2s linear infinite
                    .cards_col
                        transform: translateX(calc(var(--colsize) * -1 + var(--gap) * -1)) translateY(100px)
                        @media (max-width: 1400) and (max-height: 700) 
                            transform: translateX(calc(var(--colsize) * -1 + var(--gap) * -1)) translateY(50px)
                        @include media(991)
                            transform: translateX(0)
                &:nth-child(3)
                    .cards_outer_col
                        animation: card_bounce2 2s linear infinite
                    .cards_col
                        transform: translateX(0)
                &:nth-child(4)
                    .cards_outer_col
                        animation: card_bounce 2s linear infinite
                    .cards_col
                        transform: translateX(calc(var(--colsize) * 1 + var(--gap) * 1)) translateY(100px)
                        @media (max-width: 1400) and (max-height: 700) 
                            transform: translateX(calc(var(--colsize) * 1 + var(--gap) * 1)) translateY(50px)
                        @include media(991)
                            transform: translateX(calc(var(--colsize) * 2 + var(--gap) * 23))
        .sticky-wrap
            position: absolute
            top: 0
            left: 0
            right: 0
            height: 100%
            width: 100%
            max-width: var(--colsize)
            margin: 0 auto
            transition: transform .8s ease, opacity .8s ease
            border-radius: 15px
            transform: translateY(100%)
            opacity: 0
            pointer-events: none
            user-select: none
            &.active
                opacity: 1
                transform: translateY(0)
                pointer-events: auto
                user-select: auto
            &:nth-child(2)
                .cards_col
                    background: #224690
            &:nth-child(3)
                .cards_col
                    background: #35BCF6
                    transform: translate(25px, 30px)
            &:nth-child(4)
                .cards_col
                    background: #76429A
                    transform: translate(60px, 80px)
            .cards_col
                width: 100%
                height: 260px
                padding: 30px
                border-radius: 15px
                transition: 1s ease
                .icon
                    width: 50px
                    height: 50px
                    margin-left: auto
                .content
                    margin-top: 10px
                    h5
                        font-size: 30px
                        font-weight: 500
                        font-family: $Poppins
                        color: $white
                        margin-bottom: 5px
                    p
                        font-weight: 400
                        line-height: 1.2
                        color: $white

@keyframes card_bounce
    0%, 100%
        transform: translateY(0)
    50%
        transform: translateY(var(--bouncedistance))

@keyframes card_bounce2
    0%, 100%
        transform: translateY(var(--bouncedistance))
    50%
        transform: translateY(0px)

.home-secD
    .main_wrapper
        border-radius: 25px
        background: linear-gradient(90deg,#D9F0FE, #FFFFFF00)
        width: 100%
        .heading
            padding: 50px 40px 60px
            display: flex
            gap: 50px
            h2
                flex: 1 
                max-width: 60% 
            .desc
                flex: 0 1 auto
                max-width: 470px
        .client_sec
            display: flex
            align-items: end
            --gap: 50px
            gap: var(--gap)
            .colA
                flex: 0 1 calc( 65% - var(--gap) )
                max-width: calc( 65% - var(--gap) )
                width: 100%
                padding-bottom: 40px
                .client_slider
                    &:not(:last-child)
                        margin-bottom: 20px
                        margin-right: 80px
                    &:last-child
                        margin-left: 80px
                    .swiper-wrapper
                        transition-timing-function: linear !important
                        figure
                            height: 100px
                            width: 100%
                            background: $white
                            border-radius: 10px
                            padding: 15px
                            img
                                object-fit: contain
            .colB
                flex: 0 1 auto
                max-width: 35%
                .logo-vector
                    line-height: 0
                    mask-image: url(/assets/logo-vector.svg)
                    mask-size: 100%
                    mask-repeat: no-repeat
                    width: 417px
                    height: 300px

.home-secE
    .heading
        max-width: 515px
        margin: 0 auto 50px
        text-align: center
    .top_sucess
        display: flex
        align-items: center
        gap: 40px
        margin-bottom: 40px
        .success_col
            flex: 1
            width: 100%
            display: flex   
            gap: 15px
            figure
                flex: 0 1 120px
                img
                    border-radius: 5px
            figcaption
                flex: 1
                display: flex
                flex-direction: column
                padding: 10px 0 
                p
                    font-weight: 500
                    font-size: 14px
                    line-height: 1.2
                    color: $black
                .date
                    margin-top: auto
                    font-weight: 500
                    font-size: 14px
                    color: $text
    .success_wrapper
        .main_wrap
            border-radius: 5px
            box-shadow: 0 2px 8px 0 #63636333
            .success_media
                flex: 0 1 60%
                max-width: 60%
                width: 100%
                .tabs
                    height: 100%
                .success_banner
                    height: 100%
                    &::before
                        border-top-left-radius: 5px
                        border-bottom-left-radius: 5px
                        background: linear-gradient(179deg, #0000 0%, #0000007d 100%)
                    &:hover
                        .bg
                            img
                                transform: scale(1.1)
                    .bg
                        height: 100%
                        overflow: hidden
                        img, video
                            border-top-left-radius: 5px
                            border-bottom-left-radius: 5px
                        .banner-wrapper
                            padding: 0 var(--containerfluid)
                            top: unset
                            bottom: 10%
                            translate: 0 10%
                            display: flex
                            align-items: center
                            justify-content: space-between
                            h4
                                flex: 1
                                max-width: 55%
                                font-size: 18px
                                color: $white
                                line-height: 1.2
                                font-weight: 500
                            .btn
                                border-radius: 25px
            .success_info
                flex: 0 1 40%
                max-width: 40%
                width: 100%
                background: $white
                .info_col
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    gap: 40px
                    padding: 20px 50px
                    cursor: pointer
                    &:not(:last-child)
                        border-bottom: 1px solid #EAEAEA
                    &:hover, &.active
                        .count
                            opacity: 1
                        .desc
                            p
                                color: var(--secondary)
                    .count
                        flex: 0 1 auto
                        font-size: 36px
                        font-weight: 600
                        color: var(--secondary)
                        transition: .5s ease
                        opacity: 0
                    .desc
                        flex: 1
                        p
                            font-weight: 500
                            font-size: 14px
                            transition: .3s ease
        .btn_wrap
            margin-top: 50px
            .btn
                margin: 0 auto
                --height: 44px
