@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.service_col {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.service_col::before {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 25px;
}
.service_col.no_anchor figcaption .btn {
  display: none;
}
.service_col figure img, .service_col figure video {
  border-radius: 25px;
}
.service_col figcaption {
  padding: 0 25px 50px;
  max-width: 460px;
}
.service_col figcaption h4 {
  color: var(--white);
  font-size: 36px;
}
.service_col figcaption p {
  color: rgba(255, 255, 255, 0.6980392157);
  line-height: 1.2;
  margin: 5px 0 20px;
}

.product_herosec {
  padding-top: 10rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
  position: relative;
  z-index: 0;
}
.product_herosec.procalyx .main_wrapper .colA .heading .btn, .product_herosec.about_us .main_wrapper .colA .heading .btn {
  display: none;
}
.product_herosec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.product_herosec::before {
  background: url(/assets/images/home/circular-light-vector.svg) no-repeat;
  inset: 4% 0% 0 0;
  z-index: -1;
  background-position: 100% 0%;
  background-size: 50%;
}
@media only screen and (min-width: 1336px) {
  .product_herosec::before {
    background-size: 30%;
    background-position: 100% 50%;
  }
}
.product_herosec::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lightprime);
  filter: blur(100px);
  border-radius: 50%;
}
.product_herosec::after {
  top: 0%;
  right: 2%;
  transform: translate(30%, 0);
  filter: blur(150px);
  width: 250px;
  height: 250px;
  z-index: -1;
}
.product_herosec.contact_us .main_wrapper .colA .heading p {
  color: var(--black);
}
.product_herosec.contact_us .main_wrapper .colA .heading p span {
  display: block;
  margin-top: 50px;
  font-style: italic;
  color: var(--black);
}
.product_herosec .main_wrapper {
  --gap: 40px;
  align-items: center;
  gap: var(--gap);
}
.product_herosec .main_wrapper .colA {
  flex: 0 1 calc(50% - var(--gap));
  max-width: calc(50% - var(--gap));
  width: 100%;
}
.product_herosec .main_wrapper .colA .heading h2 {
  font-size: 48px;
  line-height: 1.1;
}
.product_herosec .main_wrapper .colA .heading h2 span {
  font-family: "IvyPresto";
}
.product_herosec .main_wrapper .colA .heading p {
  max-width: 525px;
  color: #070606;
  margin: 10px 0 25px;
  font-weight: 500;
}
.product_herosec .main_wrapper .colB {
  flex: 1;
  max-width: 50%;
  width: 100%;
}
.product_herosec .main_wrapper .colB figure {
  width: 100%;
  height: 100%;
  line-height: 0;
  border-radius: 150px 15px 15px 15px;
}
.product_herosec .main_wrapper .colB figure img, .product_herosec .main_wrapper .colB figure video {
  min-height: 405px;
  border-radius: 150px 15px 15px 15px;
}

.network-form.case_study {
  padding-bottom: 0;
}
.network-form.corporate .network_wrapper .form {
  background: #045AC6;
}
.network-form.amya_wellness .network_wrapper .form {
  background: #0CAC41;
}
.network-form.hospital .network_wrapper .form {
  background: #686FF2;
}
.network-form.procalyx_pharma .network_wrapper .form {
  background: #0AA3D4;
}
.network-form.procalyx_hospital .network_wrapper .form {
  background: #686FF2;
}
.network-form .network_wrapper {
  --gap: 60px;
  gap: var(--gap);
  justify-content: space-between;
}
.network-form .network_wrapper .heading {
  flex: 0 1 calc(50% - var(--gap));
  max-width: 520px;
  width: 100%;
}
.network-form .network_wrapper .heading h2 {
  margin-bottom: 20px;
}
.network-form .network_wrapper .heading p {
  color: #070606;
}
.network-form .network_wrapper .form {
  flex: 0 1 50%;
  max-width: 50%;
  width: 100%;
  padding: 40px;
  background: #364C8D;
  border-radius: 20px;
  position: relative;
}
.network-form .network_wrapper .form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/logo-vector-light.svg);
  transition: 0.5s ease;
}
.network-form .network_wrapper .form::before {
  background-repeat: no-repeat;
  background-size: 210px;
  background-position: 95% 100%;
}
.network-form .network_wrapper .form .heading h3 {
  font-size: 36px;
  color: var(--white);
}
.network-form .network_wrapper .form .form-grid {
  margin: 25px 0 20px;
  --item: 2;
  --labelfontbefore: 14px;
  --gaplr: 15px;
  --color: var(--black);
}
.network-form .network_wrapper .form .form-grid .form-group label {
  position: static;
  display: block;
  margin-bottom: 10px;
}
.network-form .network_wrapper .form .form-grid .form-group .form-control {
  background: #FBFBFB;
  padding: 0 10px;
  outline: none;
}
.network-form .network_wrapper .form .form-grid .form-group .form-control::-moz-placeholder {
  color: #818181;
}
.network-form .network_wrapper .form .form-grid .form-group .form-control::placeholder {
  color: #818181;
}
.network-form .network_wrapper .form .disclaim {
  margin: 40px 0 25px;
}
.network-form .network_wrapper .form .disclaim p {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  max-width: 375px;
}
.network-form .network_wrapper .form .disclaim p a {
  text-decoration: underline;
}

.testimonial_sec {
  overflow: hidden;
  position: relative;
}
.testimonial_sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/images/home/circular-vector.svg);
  transition: 0.5s ease;
}
.testimonial_sec::before {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  right: -20%;
}
.testimonial_sec.products_testimonials {
  overflow: visible;
  position: relative;
  z-index: 0;
}
.testimonial_sec.products_testimonials::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lightprime);
  filter: blur(100px);
  border-radius: 50%;
}
.testimonial_sec.products_testimonials::before {
  width: 250px;
  height: 250px;
  top: 0;
  left: 2%;
}
.testimonial_sec .upper_sec {
  position: relative;
}
.testimonial_sec .upper_sec .heading {
  max-width: 430px;
  margin: 0 auto 50px;
  text-align: center;
}
.testimonial_sec .upper_sec .swiper-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 0);
}
.testimonial_sec .upper_sec .swiper-nav button {
  background: #C5C5C5;
  border-radius: 5px;
}
.testimonial_sec .testimonial_wrapper .testimonial_col {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 5px;
  padding: 35px 30px;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .icon {
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .icon img {
  border-radius: 50%;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .desc {
  margin: 15px 0 25px;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .desc p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .desgn .name {
  font-size: 20px;
  color: var(--black);
  line-height: 1.2;
  font-weight: 500;
}
.testimonial_sec .testimonial_wrapper .testimonial_col .desgn .loc {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
}
.testimonial_sec .testimonial_wrapper .testimonial_col .quote {
  width: 67px;
  height: 67px;
  position: absolute;
  top: 4%;
  right: 6%;
}

.info_graphic.corporate .main_wrapper {
  position: relative;
}
.info_graphic.corporate .main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/vector/corporate_bg.svg);
  transition: 0.5s ease;
}
.info_graphic.corporate .main_wrapper::before {
  background-repeat: no-repeat;
  background-position: 0% 100%;
  z-index: -1;
}
.info_graphic.amya .main_wrapper {
  background: linear-gradient(90deg, #56D29D, #08702B);
}
.info_graphic.amya .main_wrapper .colA figure .card {
  animation: none;
}
.info_graphic.procalyx_pharma .main_wrapper {
  background: linear-gradient(90deg, #43C0B6, #0AA3D4);
}
.info_graphic.procalyx_pharma .main_wrapper .colA figure .card {
  animation: none;
}
.info_graphic.procalyx .main_wrapper {
  background: linear-gradient(90deg, #111E48, #124477);
  --gap: 40px;
  padding: 40px 35px;
}
.info_graphic.procalyx .main_wrapper .colA figure {
  width: 100%;
}
.info_graphic.procalyx .main_wrapper .colA figure .card {
  animation: none;
  border-radius: 10px;
}
.info_graphic.procalyx.swasth .main_wrapper {
  background: linear-gradient(90deg, #AEBDEC, #364C8D);
}
.info_graphic.procalyx_pharma_comp.swasth_hospitals .main_wrapper {
  flex-direction: row;
}
.info_graphic.procalyx_pharma_comp.swasth_corporates .main_wrapper {
  background: linear-gradient(90deg, #0358C6, #0CB1DF);
}
.info_graphic.procalyx_pharma_comp.swasth_corporates .main_wrapper figcaption .heading h2, .info_graphic.procalyx_pharma_comp.swasth_corporates .main_wrapper figcaption .heading p {
  color: var(--white);
}
.info_graphic.procalyx_pharma_comp .main_wrapper {
  background: var(--white);
  --gap: 40px;
  padding: 40px 35px;
  flex-direction: row-reverse;
}
.info_graphic.procalyx_pharma_comp .main_wrapper::before {
  display: none;
}
.info_graphic.procalyx_pharma_comp .main_wrapper .colA figure {
  width: 100%;
}
.info_graphic.procalyx_pharma_comp .main_wrapper .colA figure .card {
  animation: none;
  border-radius: 10px;
}
.info_graphic.procalyx_pharma_comp .main_wrapper figcaption .heading h2, .info_graphic.procalyx_pharma_comp .main_wrapper figcaption .heading p {
  color: var(--black);
}
.info_graphic.hospital .main_wrapper {
  --gap: 60px;
  padding: 0px 60px;
  align-items: end;
  background: linear-gradient(90deg, #636CF1, #A292FD);
}
.info_graphic.hospital .main_wrapper .colA {
  justify-content: start;
}
.info_graphic.hospital .main_wrapper .colA figure {
  line-height: 0;
}
.info_graphic.hospital .main_wrapper .colA figure .card {
  animation: none;
}
.info_graphic.hospital .main_wrapper figcaption {
  padding: 60px 0;
}
.info_graphic.hospital .main_wrapper figcaption .content .btn {
  display: none;
}
.info_graphic.procalyx_hospital .main_wrapper {
  --gap: 60px;
  padding: 0px 60px;
  align-items: end;
  background: linear-gradient(90deg, #636CF1, #A292FD);
}
.info_graphic.procalyx_hospital .main_wrapper .colA figure {
  line-height: 0;
  width: 100%;
}
.info_graphic.procalyx_hospital .main_wrapper .colA figure .card {
  animation: none;
}
.info_graphic.procalyx_hospital .main_wrapper figcaption {
  padding: 60px 0;
}
.info_graphic .main_wrapper {
  background: linear-gradient(90deg, #0CB1DF, #0358C6);
  padding: 50px 60px 90px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  --gap: 80px;
  gap: var(--gap);
  z-index: 0;
  position: relative;
}
.info_graphic .main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/logo-vector-light.svg);
  transition: 0.5s ease;
}
.info_graphic .main_wrapper::before {
  background-repeat: no-repeat;
  background-position: 95% 100%;
  z-index: -1;
}
.info_graphic .main_wrapper figcaption {
  flex: 1;
  width: 100%;
  max-width: 55%;
}
.info_graphic .main_wrapper figcaption .heading h2 {
  font-size: 48px;
  color: var(--white);
}
.info_graphic .main_wrapper figcaption .heading p {
  margin: 20px 0 30px;
  color: var(--white);
  max-width: 560px;
}
.info_graphic .main_wrapper .colA {
  flex: 0 1 40%;
  max-width: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes jiggle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}
.info_graphic .main_wrapper .colA figure {
  width: 360px;
}
.info_graphic .main_wrapper .colA figure .card {
  animation: jiggle 3s linear infinite;
}

.why_slider_sec.amya_wellness .main_wrapper {
  background: linear-gradient(90deg, #A0DCB4, #F5FDF7);
}
.why_slider_sec.amya_wellness .main_wrapper .upper_sec .heading {
  max-width: 460px;
}
.why_slider_sec.amya_wellness .main_wrapper .upper_sec figure {
  width: 350px;
}
.why_slider_sec.amya_wellness .main_wrapper .slider_wrapper .why-nav button svg path {
  stroke: #0CAC41;
}
.why_slider_sec.amya_wellness .main_wrapper .slider_wrapper .why_slider .why_col:hover {
  background: #0CAC41;
}
.why_slider_sec.procalyx_pharma .main_wrapper {
  background: linear-gradient(90deg, #CBF1FB, #B4EAF6);
}
.why_slider_sec.procalyx_pharma .main_wrapper .slider_wrapper .why-nav button svg path {
  stroke: #0BA3D3;
}
.why_slider_sec.procalyx_pharma .main_wrapper .slider_wrapper .why_slider .why_col:hover {
  background: #0CA4D4;
}
.why_slider_sec.procalyx_hospital .main_wrapper {
  background: linear-gradient(90deg, #000000, #233F90);
}
.why_slider_sec.procalyx_hospital .main_wrapper .upper_sec .heading h6, .why_slider_sec.procalyx_hospital .main_wrapper .upper_sec .heading h2 {
  color: var(--white);
}
.why_slider_sec.procalyx_hospital .main_wrapper .slider_wrapper .why-nav button svg path {
  stroke: var(--white);
}
.why_slider_sec.procalyx_hospital .main_wrapper .slider_wrapper .why_slider .why_col:hover {
  background: #686FF2;
}
.why_slider_sec.hospital {
  padding: 0;
}
.why_slider_sec.hospital .main_wrapper {
  background: linear-gradient(90deg, #000000, #233F90);
}
.why_slider_sec.hospital .main_wrapper .upper_sec .heading h6, .why_slider_sec.hospital .main_wrapper .upper_sec .heading h2 {
  color: var(--white);
}
.why_slider_sec.hospital .main_wrapper .slider_wrapper .why-nav button svg path {
  stroke: var(--white);
}
.why_slider_sec.hospital .main_wrapper .slider_wrapper .why_slider .why_col:hover {
  background: #686FF2;
}
.why_slider_sec .main_wrapper {
  position: relative;
  background: linear-gradient(90deg, #C2D7F0, #A7E6FE);
  padding: 50px 40px 60px 50px;
  border-radius: 20px;
}
.why_slider_sec .main_wrapper .upper_sec {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
.why_slider_sec .main_wrapper .upper_sec .heading {
  flex: 1;
  max-width: 650px;
}
.why_slider_sec .main_wrapper .upper_sec .heading h6 {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 700;
}
.why_slider_sec .main_wrapper .upper_sec figure {
  flex: 0 1 auto;
  width: 130px;
}
.why_slider_sec .main_wrapper .slider_wrapper {
  position: relative;
  margin-top: 60px;
}
.why_slider_sec .main_wrapper .slider_wrapper .why-nav {
  width: 106%;
  max-width: 106%;
}
.why_slider_sec .main_wrapper .slider_wrapper .why-nav button svg {
  width: 25px;
  height: 25px;
}
.why_slider_sec .main_wrapper .slider_wrapper .why-nav button svg path {
  stroke: #1E89FA;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col {
  width: 100%;
  height: 100%;
  padding: 20px 20px 40px;
  background: var(--white);
  border-radius: 20px;
  transition: 0.5s ease;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col:hover {
  background: #1C82FA;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col:hover .top_nav .icon img {
  filter: brightness(0) invert(1);
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col:hover .top_nav h6 {
  color: var(--white);
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col:hover .desc p {
  color: var(--white);
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col .top_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col .top_nav .icon {
  flex: 0 1 48px;
  width: 48px;
  height: 48px;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col .top_nav .icon img {
  transition: 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col .top_nav h6 {
  flex: 1;
  font-size: 18px;
  line-height: 1.2;
}
.why_slider_sec .main_wrapper .slider_wrapper .why_slider .why_col .desc {
  font-size: 14px;
  line-height: 1.3;
}

.case_studies_sec.case_page {
  padding-bottom: 0;
}
.case_studies_sec .heading {
  text-align: center;
  margin: 0 auto 50px;
}
.case_studies_sec .case_wrapper {
  position: relative;
}
.case_studies_sec .case_wrapper .case_study_slider {
  max-width: 96%;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col {
  border-radius: 25px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col::before {
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 25px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figure img, .case_studies_sec .case_wrapper .case_study_slider .case_study_col figure video {
  border-radius: 25px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .logo_vector {
  width: 90px;
  height: auto;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .logo_vector img {
  -o-object-fit: contain;
     object-fit: contain;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details h3 {
  font-size: 32px;
  color: var(--white);
  margin-bottom: 10px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .desc {
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 14px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .case_det_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px 0 30px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .case_det_grid .case_det_col {
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10);
          backdrop-filter: blur(10);
  border-radius: 10px;
  text-align: center;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .case_det_grid .case_det_col .icon {
  width: 35px;
  height: 35px;
  margin: 0 auto 10px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .case_det_grid .case_det_col h5 {
  color: var(--white);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.case_studies_sec .case_wrapper .case_study_slider .case_study_col figcaption .case_details .case_det_grid .case_det_col p {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6980392157);
}

.milestone_sec {
  padding-bottom: 130px;
  position: relative;
  z-index: 0;
}
.milestone_sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lightprime);
  filter: blur(100px);
  border-radius: 50%;
}
.milestone_sec::before {
  top: 5%;
  left: 0;
  transform: translate(0, -5%);
  z-index: -1;
}
.milestone_sec.about_us .heading {
  max-width: 600px;
}
.milestone_sec .heading {
  max-width: 500px;
  margin: 0 auto 50px;
  text-align: center;
}
.milestone_sec .milestone_wrapper {
  position: relative;
  background: linear-gradient(90deg, #233F90, #000000);
  padding: 0px 50px 0;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 440px;
  z-index: 0;
}
.milestone_sec .milestone_wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/vector/logo_vector.svg) no-repeat;
  background-position: 10% 100%;
  z-index: -1;
}
.milestone_sec .milestone_wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/vector/circle_vector.svg) no-repeat;
  background-position: 100% 100%;
  z-index: -1;
}
.milestone_sec .milestone_wrapper .milestone-nav {
  position: absolute;
  right: 26%;
  bottom: 28%;
  gap: 15px;
}
.milestone_sec .milestone_wrapper .colA {
  flex: 0 1 40%;
}
.milestone_sec .milestone_wrapper .colA .heading_slider {
  line-height: 1.2;
  height: 92px;
  max-width: 340px;
  top: 35%;
}
.milestone_sec .milestone_wrapper .colA .heading_slider .swiper-slide p {
  font-size: 30px;
  color: var(--white);
  font-weight: 500;
  line-height: 1.2;
  padding: 10px 0;
}
.milestone_sec .milestone_wrapper .colB {
  flex: 0 1 auto;
  --trophywidth: 230px;
  --trophyheight: 500px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -10%);
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider {
  width: var(--trophywidth);
  height: var(--trophyheight);
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide {
  transition: 0.5s ease;
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide:not(.swiper-slide-active) figure {
  transform: scale(0.7);
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide.swiper-slide-prev {
  transform: translateY(-100px);
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide.swiper-slide-next {
  transform: translateY(-100px);
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide figure {
  line-height: 0;
  height: var(--trophyheight);
  padding: 15px;
  transition: 0.5s ease;
}
.milestone_sec .milestone_wrapper .colB .milestone_trophy_slider .swiper-slide figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.milestone_sec .milestone_wrapper .colC {
  flex: 0 1 41%;
}
.milestone_sec .milestone_wrapper .colC .description_slider {
  max-width: 275px;
  line-height: 1.2;
  height: 120px;
  top: 30%;
}
.milestone_sec .milestone_wrapper .colC .description_slider .swiper-slide p {
  color: var(--white);
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 0;
}

.team_col {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.team_col:hover figcaption .moreBtn {
  opacity: 1;
}
.team_col figure {
  display: block;
  width: 100%;
  line-height: 0;
  background: #56C4DC;
  border-radius: 10px;
}
.team_col figure img {
  border-radius: 10px;
}
.team_col figcaption {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 5%);
  width: 100%;
  max-width: 92%;
  background: rgba(255, 255, 255, 0.8980392157);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.team_col figcaption .mem_details {
  flex: 1;
}
.team_col figcaption .mem_details .name {
  font-size: 18px;
  line-height: 1.2;
}
.team_col figcaption .mem_details .desg {
  font-family: "IvyPresto";
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  line-height: 1.2;
}
.team_col figcaption .moreBtn {
  flex: 0 1 42px;
  width: 42px;
  height: 42px;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 50%;
  transition: 0.5s;
  opacity: 0;
}

.team-pop {
  max-width: 800px;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  transform: translate(-50%, 100vh);
  transition: 0.6s ease;
}
@media only screen and (max-width: 768px) {
  .team-pop {
    height: 100%;
    border-radius: 0;
  }
}
.team-pop.is-open {
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
}
.team-pop .close:not(.btn) {
  top: 20px;
  right: 20px;
  z-index: 1;
}
.team-pop .close:not(.btn) svg {
  width: 20px;
  height: 20px;
}
.team-pop .model-body {
  padding: 0 30px 100px;
  margin-top: 30px;
  border-radius: 15px;
  background: var(--white);
  position: relative;
}
.team-pop .model-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/images/about/team_bg.svg);
  transition: 0.5s ease;
}
.team-pop .model-body::before {
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: 140px;
}
@media only screen and (max-width: 768px) {
  .team-pop .model-body {
    padding: 0 20px 20px;
    margin-top: 50px;
  }
}
.team-pop .model-body .team_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .team-pop .model-body .team_wrapper {
    flex-direction: column;
  }
}
.team-pop .model-body .team_wrapper figure {
  flex: 0 1 40%;
  position: relative;
  line-height: 0;
  padding: 20px 20px 0;
  background: #56C4DC;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
}
.team-pop .model-body .team_wrapper figure .linkedin {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  display: block;
  z-index: 0;
}
.team-pop .model-body .team_wrapper figure .linkedin img, .team-pop .model-body .team_wrapper figure .linkedin svg {
  width: 100%;
  height: 100%;
}
.team-pop .model-body .team_wrapper figcaption {
  flex: 1;
}
.team-pop .model-body .team_wrapper figcaption .heading {
  padding-bottom: 10px;
  border-bottom: 2px solid #D2D2D2;
}
.team-pop .model-body .team_wrapper figcaption .heading h6 {
  font-size: 24px;
  color: var(--black);
}
.team-pop .model-body .team_wrapper figcaption .heading p {
  color: var(--black);
  margin-top: 0;
}
.team-pop .model-body .team_wrapper figcaption .team_details {
  padding: 15px 15px 15px 0;
  max-height: 240px;
  overflow-y: auto;
}
.team-pop .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar {
  width: 4px;
  background: #D9D9D9;
  height: 4px;
}
.team-pop .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar-track {
  box-shadow: none;
}
.team-pop .model-body .team_wrapper figcaption .team_details::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
.team-pop .model-body .team_wrapper figcaption .team_details p {
  font-size: 14px;
}
.team-pop .model-body .team_wrapper figcaption .team_details p:not(:last-child) {
  margin-bottom: 10px;
}

.positions-pop {
  max-width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  top: 50%;
  border-radius: 15px;
  transform: translate(-50%, 100vh);
  transition: 0.6s ease;
}
@media only screen and (max-width: 768px) {
  .positions-pop {
    height: 100%;
    border-radius: 0;
  }
}
.positions-pop.is-open {
  transform: translate(-50%, -50%);
  transition: 0.6s ease;
}
.positions-pop .close:not(.btn) {
  top: 35px;
  right: 35px;
  z-index: 1;
}
.positions-pop .close:not(.btn) svg {
  width: 20px;
  height: 20px;
}
.positions-pop .model-body {
  padding: 0 30px 30px;
  margin-top: 30px;
  border-radius: 15px;
  background: var(--white);
  max-height: 90vh;
  overflow-y: auto;
}
.positions-pop .model-body::-webkit-scrollbar {
  width: 5px;
  background: #f5f5f5;
  height: 5px;
}
.positions-pop .model-body::-webkit-scrollbar-track {
  box-shadow: none;
}
.positions-pop .model-body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .positions-pop .model-body {
    padding: 0 20px 20px;
  }
}
.positions-pop .model-body .post_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.positions-pop .model-body .post_wrapper .post_details_wrap {
  flex: 1;
  padding: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.positions-pop .model-body .post_wrapper .post_form {
  flex: 1;
  padding: 20px 20px 20px 40px;
}
.positions-pop .model-body .post_wrapper .post_form .heading h2 {
  font-size: 30px;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid {
  --item: 2;
  --labelfontbefore: 14px;
  --gaplr: 15px;
  --color: var(--black);
  margin: 30px 0 50px;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid .form-group label {
  position: static;
  display: block;
  margin-bottom: 10px;
  color: var(--text);
  font-weight: 500;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .form-control, .positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .file-name {
  background: #E8E8E8;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .form-control::-moz-placeholder, .positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .file-name::-moz-placeholder {
  color: #818181;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .form-control::placeholder, .positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .file-name::placeholder {
  color: #818181;
}
.positions-pop .model-body .post_wrapper .post_form .form-grid .form-group .file-name {
  --paddingleftright: 10px;
}/*# sourceMappingURL=component.css.map */