@import '../_var'

.service_col
    display: block
    width: 100%
    height: 100%
    border-radius: 25px
    &::before
        background: linear-gradient(0deg, #000 0%, #0000 100%)
        border-radius: 25px
    &.no_anchor
        figcaption
            .btn
                display: none
    figure
        img, video
            border-radius: 25px
    figcaption
        padding: 0 25px 50px
        max-width:  460px
        h4
            color: $white
            font-size: 36px
        p
            color: #FFFFFFB2
            line-height: 1.2
            margin: 5px 0 20px

.product_herosec
    &.procalyx, &.about_us
        .main_wrapper .colA .heading .btn
            display: none
    padding-top: 10rem
    padding-bottom: 2rem
    overflow: hidden
    @include before()
    &::before
        background: url(/assets/images/home/circular-light-vector.svg) no-repeat
        inset: 4% 0% 0 0
        z-index: -1
        background-position: 100% 0%
        background-size: 50%
        @include media-min(1336)
            background-size: 30%
            background-position: 100% 50%
    @include after-blur
    &::after
        top: 0%
        right: 2%
        transform: translate(30%, 0)
        filter: blur(150px)
        width: 250px
        height: 250px
        z-index: -1
    &.contact_us
        .main_wrapper
            .colA .heading 
                p 
                    color: $black
                    span
                        display: block
                        margin-top: 50px
                        font-style: italic
                        color: $black
    .main_wrapper
        --gap: 40px
        align-items: center
        gap: var(--gap)
        .colA
            flex: 0 1 calc( 50% - var(--gap) )
            max-width: calc( 50% - var(--gap) )
            width: 100%
            .heading
                h2
                    font-size: 48px
                    line-height: 1.1
                    span
                        font-family: $IvyPresto
                p
                    max-width: 525px
                    color: #070606
                    margin: 10px 0 25px
                    font-weight: 500
        .colB
            flex: 1 
            max-width: 50%
            width: 100%  
            figure
                width: 100%
                height: 100%
                line-height: 0
                border-radius: 150px 15px 15px 15px
                img, video
                    min-height: 405px 
                    border-radius: 150px 15px 15px 15px

.network-form
    &.case_study
        padding-bottom: 0
    &.corporate
        .network_wrapper
            .form
                background: #045AC6
    &.amya_wellness
        .network_wrapper
            .form
                background: #0CAC41
    &.hospital
        .network_wrapper
            .form
                background: #686FF2
    &.procalyx_pharma
        .network_wrapper
            .form
                background: #0AA3D4
    &.procalyx_hospital
        .network_wrapper
            .form
                background: #686FF2
    .network_wrapper
        --gap: 60px
        gap: var(--gap)
        justify-content: space-between
        .heading
            flex: 0 1 calc( 50% - var(--gap) )
            max-width: 520px
            width: 100%
            h2
                margin-bottom: 20px
            p
                color: #070606
        .form
            flex: 0 1 50%
            max-width: 50%
            width: 100%
            padding: 40px
            background: #364C8D 
            border-radius: 20px
            @include before(url(/assets/logo-vector-light.svg)) 
            &::before
                background-repeat: no-repeat
                background-size: 210px
                background-position: 95% 100% 
            .heading
                h3
                    font-size: 36px
                    color: $white
            .form-grid
                margin: 25px 0 20px
                --item: 2 
                --labelfontbefore: 14px
                --gaplr: 15px
                --color: var(--black)
                .form-group
                    label
                        position: static
                        display: block
                        margin-bottom: 10px
                    .form-control
                        background: #FBFBFB
                        padding: 0 10px
                        outline: none
                        &::placeholder
                            color: #818181
            .disclaim
                margin: 40px 0 25px
                p
                    font-size: 14px
                    color: $white
                    font-weight: 500
                    max-width: 375px
                    a
                        text-decoration: underline

.testimonial_sec
    overflow: hidden
    @include before(url(/assets/images/home/circular-vector.svg))
    &::before
        background-repeat: no-repeat
        background-position: 100% 50%
        right: -20%
    &.products_testimonials
        overflow: visible
        @include before-blur
        &::before
            width: 250px
            height: 250px
            top: 0
            left: 2%
    .upper_sec
        position: relative
        .heading
            max-width: 430px
            margin: 0 auto 50px
            text-align: center
        .swiper-nav
            display: flex
            align-items: center
            gap: 10px
            position: absolute
            bottom: 0
            right: 0
            transform: translate(0, 0)
            button
                background: #C5C5C5
                border-radius: 5px
    .testimonial_wrapper
        .testimonial_col
            position: relative
            width: 100%
            height: 100%
            background: $white
            border-radius: 5px
            padding: 35px 30px
            .icon
                width: 81px
                height: 81px
                border-radius: 50%
                img
                    border-radius: 50%
            .desc
                margin: 15px 0 25px
                p
                    font-size: 14px
                    line-height: 1.3
                    font-weight: 400
            .desgn
                .name
                    font-size: 20px
                    color: $black
                    line-height: 1.2
                    font-weight: 500
                .loc
                    font-size: 14px
                    font-weight: 500
                    line-height: 1.2
                    color: $black
            .quote
                width: 67px
                height: 67px
                position: absolute
                top: 4%
                right: 6%

.info_graphic
    &.corporate
        .main_wrapper
            @include before(url(/assets/vector/corporate_bg.svg))
            &::before
                background-repeat: no-repeat
                background-position: 0% 100%
                z-index: -1
    &.amya
        .main_wrapper
            background: linear-gradient(90deg, #56D29D, #08702B)
            .colA
                figure
                    .card
                        animation: none
    &.procalyx_pharma
        .main_wrapper
            background: linear-gradient(90deg, #43C0B6, #0AA3D4)
            .colA
                figure
                    .card
                        animation: none
    &.procalyx
        .main_wrapper
            background: linear-gradient(90deg, #111E48, #124477)
            --gap: 40px
            padding: 40px 35px
            .colA
                figure
                    width: 100%
                    .card
                        animation: none
                        border-radius: 10px
        &.swasth
            .main_wrapper
                background: linear-gradient(90deg, #AEBDEC, #364C8D)
    &.procalyx_pharma_comp
        &.swasth_hospitals
            .main_wrapper
                flex-direction: row
        &.swasth_corporates
            .main_wrapper
                background: linear-gradient(90deg, #0358C6, #0CB1DF)
                figcaption
                    .heading
                        h2, p
                            color: $white
        .main_wrapper
            background: $white
            --gap: 40px
            padding: 40px 35px
            flex-direction: row-reverse
            &::before
                display: none
            .colA
                figure
                    width: 100%
                    .card
                        animation: none
                        border-radius: 10px
            figcaption
                .heading
                    h2, p
                        color: $black
    &.hospital
        .main_wrapper
            --gap: 60px
            padding: 0px 60px
            align-items: end
            background: linear-gradient(90deg, #636CF1, #A292FD)
            .colA
                justify-content: start
                figure
                    line-height: 0
                    .card
                        animation: none
            figcaption
                padding: 60px 0
                .content
                    .btn 
                        display: none
    &.procalyx_hospital
        .main_wrapper
            --gap: 60px
            padding: 0px 60px
            align-items: end
            background: linear-gradient(90deg, #636CF1, #A292FD)
            .colA
                figure
                    line-height: 0
                    width: 100%
                    .card
                        animation: none
            figcaption
                padding: 60px 0
    .main_wrapper
        background: linear-gradient(90deg, #0CB1DF, #0358C6)
        padding: 50px 60px 90px
        border-radius: 20px
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        --gap: 80px 
        gap: var(--gap)
        z-index: 0
        @include before(url(/assets/logo-vector-light.svg))
        &::before
            background-repeat: no-repeat
            background-position: 95% 100%
            z-index: -1
        figcaption
            flex: 1
            width: 100%
            max-width: 55%
            .heading
                h2
                    font-size: 48px
                    color: $white
                p
                    margin: 20px 0 30px
                    color: $white
                    max-width: 560px
        .colA
            flex: 0 1 40%
            max-width: 40%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            @keyframes jiggle
                0%, 100%
                    transform: translateY(0)
                50%
                    transform: translateY(50px)
            figure
                width: 360px
                .card
                    animation: jiggle 3s linear infinite

.why_slider_sec
    &.amya_wellness
        .main_wrapper
            background: linear-gradient(90deg, #A0DCB4, #F5FDF7)
            .upper_sec
                .heading
                    max-width: 460px
                figure
                    width: 350px
            .slider_wrapper
                .why-nav
                    button
                        svg
                            path 
                                stroke: #0CAC41 
                .why_slider
                    .why_col
                        &:hover
                            background: #0CAC41 
    &.procalyx_pharma
        .main_wrapper
            background: linear-gradient(90deg, #CBF1FB, #B4EAF6)
            .slider_wrapper
                .why-nav
                    button
                        svg
                            path 
                                stroke: #0BA3D3
                .why_slider
                    .why_col
                        &:hover
                            background: #0CA4D4
    &.procalyx_hospital
        .main_wrapper
            background: linear-gradient(90deg, #000000, #233F90)
            .upper_sec
                .heading
                    h6, h2
                        color: $white
            .slider_wrapper
                .why-nav
                    button
                        svg
                            path 
                                stroke: $white
                .why_slider
                    .why_col
                        &:hover
                            background: #686FF2
    &.hospital
        padding: 0
        .main_wrapper
            background: linear-gradient(90deg, #000000, #233F90)
            .upper_sec
                .heading
                    h6, h2
                        color: $white
            .slider_wrapper
                .why-nav
                    button
                        svg
                            path 
                                stroke: $white
                .why_slider
                    .why_col
                        &:hover
                            background: #686FF2
    .main_wrapper
        position: relative
        background: linear-gradient(90deg, #C2D7F0, #A7E6FE)
        padding: 50px 40px 60px 50px
        border-radius: 20px
        .upper_sec
            display: flex
            flex-wrap: wrap
            align-items: start
            justify-content: space-between
            .heading
                flex: 1
                max-width: 650px
                h6
                    font-size: 18px
                    margin-bottom: 30px
                    font-weight: 700
            figure
                flex: 0 1 auto
                width: 130px
        .slider_wrapper
            position: relative
            margin-top: 60px
            .why-nav
                width: 106%
                max-width: 106%
                button
                    svg
                        width: 25px
                        height: 25px
                        path 
                            stroke: #1E89FA
            .why_slider
                .why_col
                    width: 100%
                    height: 100%
                    padding: 20px 20px 40px
                    background: $white
                    border-radius: 20px
                    transition: .5s ease
                    &:hover
                        background: #1C82FA
                        .top_nav
                            .icon
                                img
                                    filter: brightness(0) invert(1)
                            h6
                                color: $white
                        .desc
                            p
                                color: $white
                    .top_nav
                        display: flex
                        flex-wrap: wrap
                        align-items: center
                        margin-bottom: 15px
                        gap: 15px
                        .icon
                            flex: 0 1 48px
                            width: 48px
                            height: 48px
                            img
                                transition: .3s ease
                                object-fit: contain
                        h6
                            flex: 1
                            font-size: 18px
                            line-height: 1.2
                    .desc
                        font-size: 14px
                        line-height: 1.3

.case_studies_sec
    &.case_page
        padding-bottom: 0
    .heading
        text-align: center
        margin: 0 auto 50px
    .case_wrapper
        position: relative
        .case_study_slider
            max-width: 96%
            .case_study_col
                border-radius: 25px
                &::before
                    background: linear-gradient(0deg, #000 0%, #0000 100%)
                    border-radius: 25px
                figure
                    img, video
                        border-radius: 25px
                figcaption
                    width: 100%
                    height: 100%
                    padding: 30px 20px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    .logo_vector
                        width: 90px
                        height: auto
                        img
                            object-fit: contain
                    .case_details
                        h3
                            font-size: 32px
                            color: $white
                            margin-bottom: 10px
                        .desc
                            color: #FFFFFFB2
                            font-size: 14px
                        .case_det_grid
                            display: grid
                            grid-template-columns: repeat(3, 1fr)
                            grid-gap: 10px
                            margin: 20px 0 30px
                            .case_det_col
                                padding: 15px
                                background: #FFFFFF33
                                backdrop-filter: blur(10)
                                border-radius: 10px
                                text-align: center
                                .icon
                                    width: 35px
                                    height: 35px
                                    margin: 0 auto 10px
                                h5
                                    color: $white
                                    font-size: 20px
                                    line-height: 1.2
                                    margin-bottom: 5px
                                p
                                    font-size: 12px
                                    line-height: 1.3
                                    color: #FFFFFFB2

.milestone_sec
    padding-bottom: 130px
    @include before-blur
    &::before
        top: 5%
        left: 0 
        transform: translate(0, -5%)
        z-index: -1
    &.about_us
        .heading
            max-width: 600px
    .heading
        max-width: 500px
        margin: 0 auto 50px
        text-align: center
    .milestone_wrapper
        position: relative
        background: linear-gradient(90deg, #233F90, #000000)
        padding: 0px 50px 0
        border-radius: 25px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        width: 100%
        height: 440px
        z-index: 0
        &::before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 100%
            background: url(/assets/vector/logo_vector.svg) no-repeat 
            background-position: 10% 100%
            z-index: -1
        &::after
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 100%
            height: 100%
            background: url(/assets/vector/circle_vector.svg) no-repeat 
            background-position: 100% 100%
            z-index: -1
        .milestone-nav
            position: absolute
            right: 26%
            bottom: 28%
            gap: 15px
        .colA
            flex: 0 1 40%
            .heading_slider
                line-height: 1.2
                height: 92px
                max-width: 340px
                top: 35%
                .swiper-slide
                    p
                        font-size: 30px
                        color: $white
                        font-weight: 500
                        line-height: 1.2
                        padding: 10px 0 
        .colB
            flex: 0 1 auto
            --trophywidth: 230px
            --trophyheight: 500px
            position: absolute
            left: 50%
            top: 20%
            transform: translate(-50%, -10%)
            .milestone_trophy_slider
                width: var(--trophywidth)
                height: var(--trophyheight)
                .swiper-slide
                    transition: .5s ease
                    &:not(.swiper-slide-active)
                        opacity: 0
                        figure
                            transform: scale(0.7)
                    &.swiper-slide-prev
                        transform: translateY(-100px)
                    &.swiper-slide-next
                        transform: translateY(-100px)
                    figure
                        line-height: 0
                        height: var(--trophyheight)
                        padding: 15px
                        transition: .5s ease
                        img
                            object-fit: contain
                
        .colC
            flex: 0 1 41%
            .description_slider
                max-width: 275px
                line-height: 1.2
                height: 120px
                top: 30%
                .swiper-slide
                    p
                        color: $white
                        font-weight: 400
                        line-height: 1.5
                        padding: 10px 0 

.team_col
    position: relative
    width: 100%
    height: 100%
    border-radius: 10px
    cursor: pointer
    &:hover
        figcaption
            .moreBtn
                opacity: 1
    figure
        display: block
        width: 100%
        line-height: 0
        background: #56C4DC
        border-radius: 10px
        img 
            border-radius: 10px 
    figcaption
        position: absolute
        left: 50%
        bottom: 5%
        transform: translate(-50%, 5%)
        width: 100%
        max-width: 92% 
        background: #FFFFFFE5
        padding: 15px
        border-radius: 10px
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 10px
        .mem_details
            flex: 1
            .name
                font-size: 18px
                line-height: 1.2
            .desg
                font-family: $IvyPresto
                font-size: 16px
                font-weight: 300
                color: $black
                line-height: 1.2
        .moreBtn
            flex: 0 1 42px
            width: 42px
            height: 42px
            background: $black
            display: flex
            align-items: center
            justify-content: center
            color: $white
            border-radius: 50%
            transition: .5s
            opacity: 0

.team-pop
    max-width: 800px
    height: fit-content
    left: 50%
    top: 50%
    border-radius: 15px
    transform: translate(-50%, 100vh)
    transition: 0.6s ease
    @include media(768)
        height: 100%
        border-radius: 0
    &.is-open
        transform: translate(-50%, -50%)
        transition: 0.6s ease
    .close:not(.btn)
        top: 20px
        right: 20px
        z-index: 1
        svg
            width: 20px
            height: 20px
    .model-body
        padding: 0 30px 100px
        margin-top: 30px
        border-radius: 15px
        background: $white
        @include before(url(/assets/images/about/team_bg.svg)) 
        &::before
            background-repeat: no-repeat
            background-position: 95% 100% 
            background-size: 140px
        @include media(768)
            padding: 0 20px 20px  
            margin-top: 50px
        .team_wrapper
            display: flex
            flex-wrap: wrap
            align-items: center
            gap: 30px
            @include media(768)
                flex-direction: column
            figure
                flex: 0 1 40%
                position: relative
                line-height: 0
                padding: 20px 20px 0 
                background: #56C4DC
                display: flex
                align-items: flex-end
                justify-content: center
                border-radius: 10px
                .linkedin
                    width: 30px
                    height: 30px
                    position: absolute
                    top: 5%
                    right: 5%
                    display: block
                    z-index: 0
                    img, svg
                        width: 100%
                        height: 100%
            figcaption
                flex: 1
                .heading
                    padding-bottom: 10px
                    border-bottom: 2px solid #D2D2D2
                    h6
                        font-size: 24px
                        color: $black
                    p
                        color: $black
                        margin-top: 0
                .team_details
                    padding: 15px 15px 15px 0
                    max-height: 240px
                    overflow-y: auto
                    @include scrollbar($width: 4px,$background: #D9D9D9,$color: $primary,)
                    p
                        font-size: 14px
                        &:not(:last-child)
                            margin-bottom: 10px

.positions-pop
    max-width: 90%
    height: fit-content
    left: 50%
    top: 50%
    border-radius: 15px
    transform: translate(-50%, 100vh)
    transition: 0.6s ease
    @include media(768)
        height: 100%
        border-radius: 0
    &.is-open
        transform: translate(-50%, -50%)
        transition: 0.6s ease
    .close:not(.btn)
        top: 35px
        right: 35px
        z-index: 1
        svg
            width: 20px
            height: 20px
    .model-body
        padding: 0 30px 30px
        margin-top: 30px
        border-radius: 15px
        background: $white
        max-height: 90vh
        overflow-y: auto
        @include scrollbar($width: 5px,$background: #f5f5f5, $color: #000)
        @include media(768)
            padding: 0 20px 20px  
        .post_wrapper
            display: flex
            flex-wrap: wrap
            align-items: center
            .post_details_wrap
                flex: 1
                padding: 30px
                border-right: 1px solid #0000002E
            .post_form
                flex: 1
                padding: 20px 20px 20px 40px
                .heading
                    h2
                        font-size: 30px
                .form-grid
                    --item: 2 
                    --labelfontbefore: 14px
                    --gaplr: 15px
                    --color: var(--black)
                    margin: 30px 0 50px
                    .form-group
                        label
                            position: static
                            display: block
                            margin-bottom: 10px
                            color: $text
                            font-weight: 500
                        .form-control, .file-name
                            background: #E8E8E8
                            padding: 0 10px
                            outline: none
                            border-radius: 5px
                            &::placeholder
                                color: #818181
                        .file-name
                            --paddingleftright: 10px
        