@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.contact_form .main_wrapper {
  background: linear-gradient(90deg, #000000, #233F90);
  border-radius: 20px;
  padding: 40px;
  --gap: 60px;
  gap: var(--gap);
}
.contact_form .main_wrapper .heading {
  flex: 0 1 40%;
  max-width: 40%;
  width: 100%;
}
.contact_form .main_wrapper .heading h2, .contact_form .main_wrapper .heading p {
  color: var(--white);
}
.contact_form .main_wrapper .form {
  flex: 1;
  max-width: calc(100% - var(--gap));
  width: 100%;
  position: relative;
}
.contact_form .main_wrapper .form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(/assets/logo-vector-light.svg);
  transition: 0.5s ease;
}
.contact_form .main_wrapper .form::before {
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 100% 100%;
}
.contact_form .main_wrapper .form .form-grid {
  --item: 2;
  --labelfontbefore: 14px;
  --gaplr: 15px;
  --color: var(--black);
}
.contact_form .main_wrapper .form .form-grid .form-group label {
  position: static;
  display: block;
  margin-bottom: 10px;
}
.contact_form .main_wrapper .form .form-grid .form-group .form-control {
  background: #FBFBFB;
  padding: 0 10px;
  outline: none;
}
.contact_form .main_wrapper .form .form-grid .form-group .form-control::-moz-placeholder {
  color: #818181;
}
.contact_form .main_wrapper .form .form-grid .form-group .form-control::placeholder {
  color: #818181;
}
.contact_form .main_wrapper .form .disclaim {
  margin: 40px 0 25px;
}
.contact_form .main_wrapper .form .disclaim p {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
  max-width: 375px;
}
.contact_form .main_wrapper .form .disclaim p a {
  text-decoration: underline;
}

.map_section .main_wrapper {
  background: var(--white);
  border-radius: 20px;
  align-items: center;
  --gap: 50px;
  gap: var(--gap);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3490196078);
}
.map_section .main_wrapper .details {
  flex: 0 1 35%;
  max-width: 35%;
  width: 100%;
  padding: 30px;
}
.map_section .main_wrapper .details h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.map_section .main_wrapper .details ul {
  margin: 20px 0 40px;
}
.map_section .main_wrapper .details ul li:not(:last-child) {
  margin-bottom: 20px;
}
.map_section .main_wrapper .details ul li a {
  display: flex;
  gap: 10px;
  color: var(--black);
  line-height: 1.2;
}
.map_section .main_wrapper .details ul li a:hover {
  transform: translateX(5px);
}
.map_section .main_wrapper .details ul li a .icon {
  flex: 0 1 25px;
  width: 25px;
  height: 25px;
}
.map_section .main_wrapper .details ul li a span {
  flex: 1;
}
.map_section .main_wrapper .map {
  flex: 1;
  max-width: calc(100% - var(--gap));
  width: 100%;
  line-height: 0;
}
.map_section .main_wrapper .map iframe {
  border-radius: 20px;
  filter: grayscale(1);
  height: 500px;
  transition: 0.5s ease;
}
.map_section .main_wrapper .map iframe:hover {
  filter: grayscale(0);
}

.location_sec {
  position: relative;
  z-index: 0;
}
.location_sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--lightprime);
  filter: blur(100px);
  border-radius: 50%;
}
.location_sec::before {
  top: 5%;
  left: 5%;
  z-index: -1;
}
.location_sec .heading {
  text-align: center;
  margin: 0 auto 50px;
}
.location_sec .location_wrapper {
  display: flex;
  gap: 15px;
}
.location_sec .location_wrapper .loc_col {
  background: var(--white);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}
.location_sec .location_wrapper .loc_col:hover .details a {
  color: var(--black);
}
.location_sec .location_wrapper .loc_col .upper_sec {
  display: flex;
  align-items: center;
  gap: 10px;
}
.location_sec .location_wrapper .loc_col .upper_sec h6 {
  flex: 1;
  font-size: 24px;
  line-height: 1.2;
}
.location_sec .location_wrapper .loc_col .upper_sec .icon {
  flex: 0 1 40px;
  width: 40px;
  height: 40px;
}
.location_sec .location_wrapper .loc_col .details {
  margin-top: 15px;
}
.location_sec .location_wrapper .loc_col .details a {
  line-height: 1.2;
  color: var(--text);
}/*# sourceMappingURL=contact.css.map */